---
const { children, classname } = Astro.props;
---

<svg style="display: none">
  <filter id="glass-distortion">
    <feTurbulence
      type="turbulence"
      baseFrequency="0.008"
      numOctaves="2"
      result="noise"></feTurbulence>
    <feDisplacementMap in="SourceGraphic" in2="noise" scale="77"
    ></feDisplacementMap>
  </filter>
</svg>

<div class={"glass-card" + (classname ? ` ${classname}` : "")}>
  <div class="glass-filter"></div>
  <div class="glass-overlay"></div>
  <div class="glass-specular"></div>
  <div class="glass-content">
    <slot />
  </div>
</div>
