---
import LiquidGlass from "@/components/ui/starwind/tabs/LiquidGlass.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col w-full gap-4">
    <LiquidGlass>
      <div>
        I work as an outsource engineer at <a
          class="underline"
          href="https://ventionteams.com/"
          target="_blank">Vention</a
        >
      </div>
    </LiquidGlass>
    <LiquidGlass>
      <div class="flex flex-col w-full">
        <h1 class="text-2xl font-bold">PROJECTS</h1>
        <div class="border border-gray-400 m-2 p-5 rounded-xl">
          <h2>TheGuarantors (current) - Full Stack Developer</h2>
        </div>
        <div class="border border-gray-400 m-2 p-5 rounded-xl">
          <h2>Thrive Global - Full Stack Developer</h2>
        </div>
        <div class="border border-gray-400 m-2 p-5 rounded-xl">
          <h2>National Geographic Learning - Front End Developer</h2>
        </div>
        <div class="border border-gray-400 m-2 p-5 rounded-xl">
          <h2>Centrum Air - Full Stack Developer</h2>
        </div>
        <div class="border border-gray-400 m-2 p-5 rounded-xl">
          <h2>Freelance - Backend Developer</h2>
        </div>
      </div>
    </LiquidGlass>
  </div>
</Layout>
