---
import background from "../assets/background.svg";
import LiquidGlass from "./ui/starwind/tabs/LiquidGlass.astro";
---

<div id="container">
  <img id="background" src={background.src} alt="" fetchpriority="high" />
  <main>
    <section class="w-full flex flex-col gap-4">
      <LiquidGlass>
        <div class="text-7xl">
          <h1>Plain Personal Website</h1>
          <h1 class="text-4xl">of Sabrina Babakulova</h1>
        </div>
      </LiquidGlass>
      <LiquidGlass>
        <div class="text-xl">
          I <span id="bluetopink">LOVE</span>
          coding and chess and my cat
        </div>
      </LiquidGlass>
    </section>
  </main>
</div>

<style>
  @keyframes color-change {
    0%,
    100% {
      color: #3b82f6;
    }
    50% {
      color: #ec4899;
    }
  }
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(10px);
  }

  #container {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
      Arial, sans-serif;
    height: 100%;
  }
  #bluetopink {
    animation: color-change 1s ease-in-out infinite;
  }
</style>
