---
import "../global.css";
import Sidebar from "@/components/Sidebar.astro";
import background from "../assets/background.svg";
import Header from "@/components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Sabrina Babakulova</title>
  </head>

  <body>
    <img src={background.src} alt="rotating background" class="rotating-bg" />
    <div
      class="relative flex flex-col 2xl:flex-row w-full h-full mt-28 2xl:mt-auto p-2 2xl:p-8 gap-8 box-border max-w-[1200px] mx-auto"
    >
      <Header />
      <Sidebar />
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .rotating-bg {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: rotateBg 40s linear infinite;
    transform-origin: center center;
    filter: blur(10px);
  }

  @keyframes rotateBg {
    from {
      transform: rotate(0deg) scale(1.1);
    }
    to {
      transform: rotate(360deg) scale(1.1);
    }
  }
</style>
